**/*.class
/Dataset
**/*.pgm
**/*.ppm
**/*.pnm
**/*.jpg
Assignment1/*.pgm
Assignment1/*.pbm
Assignment1/*.pnm
Assignment1/*.ppm
Assignment2/*.pgm
Assignment2/*.pbm
Assignment2/*.pnm
Assignment2/*.ppm

Assignment2/Enhanced/*.pgm
Assignment2/Enhanced/*.pbm
Assignment2/Enhanced/*.pnm
Assignment2/Enhanced/*.ppm

Assignment2/ColorHistogram/*.pgm
Assignment2/ColorHistogram/*.pbm
Assignment2/ColorHistogram/*.pnm
Assignment2/ColorHistogram/*.ppm

Assignment2/Matching/*.pgm
Assignment2/Matching/*.pbm
Assignment2/Matching/*.pnm
Assignment2/Matching/*.ppm

Assignment3/OutputImages/*.pgm
Assignment3/OutputImages/*.pbm
Assignment3/OutputImages/*.pnm
Assignment3/OutputImages/*.ppm

Assignment3/OutputImages

Test/Output/*.pgm
Test/Output/*.ppm
Test/Output/*.pnm
Test/Output/*.pbm

Dataset/*.pgm
Dataset/*.pbm
Dataset/*.pnm
Dataset/*.ppm