**/*.class
/Dataset
**/*.pgm
**/*.ppm
**/*.pnm
**/*.jpg
Assignment1/*.pgm
Assignment1/*.pbm
Assignment1/*.pnm
Assignment1/*.ppm
Assignment2/*.pgm
Assignment2/*.pbm
Assignment2/*.pnm
Assignment2/*.ppm
Dataset/*.pgm
Dataset/*.pbm
Dataset/*.pnm
Dataset/*.ppm